@import "tailwindcss";

:root {
  --sky-blue: #CFE9F5;
  --powder-blue: #056e9f;
  --grayish-blue: #9FB7C9;
  --soft-ivory: #F6F4EF;
  --pearl-gray: #E3E7EA;
  --pastel-gold: #E6D6A8;
  --lavender-gray: #D8D3E8;
  --background: #F6F4EF;
  --foreground: #171717;
  --blue-marine: #1b408b;
}

@layer theme {
  :root {
    --color-sky-blue: var(--sky-blue);
    --color-powder-blue: var(--powder-blue);
    --color-grayish-blue: var(--grayish-blue);
    --color-soft-ivory: var(--soft-ivory);
    --color-pearl-gray: var(--pearl-gray);
    --color-pastel-gold: var(--pastel-gold);
    --color-lavender-gray: var(--lavender-gray);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-btn: var(--font-geist-btn);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
